input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"] {
  position: absolute;
  top: -1000px;
}

.inp_e {
  color: #ee4622;
  background: none;
  transition: 0.3s ease;
}

.inp_e:hover {
  background: #444;
  cursor: pointer;
  transition: 0.3s ease;
}

.send {
  background: #f58033;
  margin-top: 50px;
}

.p_txt {
  font-size: 18;
}

@media (max-width: 390px) {
  .p_txt {
    font-size: 12px;
  }
}
